* {
  padding: 0;
  margin: 0;
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 25px;
  color: #ffd700;
}

#root {
  /* background-image: url('../Img/rick-and-morty-wallpaper-portal-wallpaper-004.jpg'); */
  background-image: url('../Img/ay86q49ckx251.png');
  background-repeat: repeat-x;
  height: 100vh;
  overflow: auto;
}

/* Header */

header {
  text-align: center;
  padding: 20px;
}

#title,
#And,
.title-text {
  font-family: 'Creepster', cursive;
  color: #00b0cf;
  font-size: 65px;
}

#title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

#And {
  font-size: 30px;
}

#score-container {
  font-size: 18px;
}

/* Main */
main {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards {
  background-image: url('../Img/3958027.png');
  text-align: center;
  margin: 10px 20px;
  padding: 10px 0;
  width: 250px;
  border-radius: 10%;
  cursor: pointer;
}

.cards:hover {
  box-shadow: 0 0 10px lightgreen;
}

.cards img {
  border-radius: 10%;
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.cards p {
  text-shadow: 0 0 4px #333333;
}
