* {
  padding: 0;
  margin: 0;
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 25px;
  color: #ffd700;
}

#app {
  background-image: url('../Img/rick-and-morty-wallpaper-portal-wallpaper-004.jpg');
  height: 100vh;
}

/* Header */

header {
  text-align: center;
  padding: 20px;
  /* background-color: #b4eeb4; */
}

#title,
#And {
  font-family: 'Creepster', cursive;
  color: #00b0cf;
  font-size: 65px;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#And {
  font-size: 30px;
}

#score-container {
  font-size: 18px;
}

/* Main */
main {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards {
  /* background-color: green; */
  background-image: url('../Img/3958027.png');
  text-align: center;
  margin: 10px 20px;
  padding: 10px 0;
  /* width: 13%; */
  width: 250px;
  border-radius: 10%;
  cursor: pointer;
}

.cards img {
  border-radius: 10%;
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}
